@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes check-mark {
  from {
    stroke-dashoffset: 48;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* In your global CSS file */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1bfbf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8d8d;
}

@font-face {
  font-family: "Crostan";
  src: url("/fonts/Crostan-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Crostan";
  src: url("/fonts/Crostan-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Crostan";
  src: url("/fonts/Crostan-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Crostan";
  src: url("/fonts/Crostan-Bold.ttf") format("truetype");
  font-weight: 700;
}
